body   
{

    font-family: Arial, Helvetica, Verdana, sans-serif;
    color: #000000;
    font-size: .80em;

}

.RadFilter ul, .RadFilter li {

clear:none !important;

}
.RadFilter li {
min-width: 300px!important;
}

/*Grid*/
.rgHeader {
text-align:center!important;
vertical-align:bottom!important;
font-family:Arial!important;
font-size:12px!important;

}
#RadGrid1_GridData .rgDataDiv {
font-family:Arial!important;
font-size:12px!important;

}
.rgGroupHeader {
font-family:Arial!important;
font-size:12px!important;

}
.RadGrid td {
font-family:Arial!important;
font-size:12px!important;

}
#RadPageView1 td {
    font-family:Arial!important;
    color:#000000;
    font-size:13px;
}
.rgCommandTable td {
    text-align:left!important;
}
#RadFilter1_rfContextMenu_detached {
/*top:200px!important;*/
top: 0px!important;
position: absolute!important;

}
