<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--Prueba-->
    <!--<add name="CN" connectionString="Data Source=ARP12B;Initial Catalog=WEB;Persist Security Info=True;User ID=sa;Password=admin@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="CN" connectionString="Data Source=SQL\SQLExpress;Initial Catalog=WEB;Persist Security Info=True;User ID=developer;Password=admin@123" providerName="System.Data.SqlClient"/>-->
    <!--Anterior-->
    <!--<add name="CN" connectionString="Data Source=ZV12\BVRD_EXP_2008R2;Initial Catalog=WEB;Persist Security Info=True;User ID=sa;Password=#bvrd123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="CN" connectionString="Data Source=.\SqlExpress;Initial Catalog=WEB;Integrated Security=True" providerName="System.Data.SqlClient" />-->  
    <!--  <add name="CN" connectionString="Data Source=SEP;Initial Catalog=WEB;Persist Security Info=True;User ID=sqldevadmin;Password=admin@123" providerName="System.Data.SqlClient"/>-->
    <add name="CN" connectionString="Data Source=ADB03;Initial Catalog=WEB;Persist Security Info=True;User ID=appuser;Password=admin@123" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
